<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEXJS_NODEJS</title>
    <link rel="stylesheet" type="text/css" href="styles.css"> 
</head>
<body>
    <h1> BUENOS DIAS, BUENOS DIAS MIS GENTES</h1>
    <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, fuga maiores labore delectus veniam est voluptas asperiores, 
        itaque odit vel ullam quo earum ipsa quae voluptatibus eaque tempora commodi saepe!</P>

        <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur a, quas veritatis necessitatibus quis porro laborum rerum perspiciatis sed, non dolor magnam odit tenetur adipisci molestiae. Minus explicabo, a eius natus ab ut, beatae quia officiis libero consectetur quam rem unde est iusto? Fuga dolore nulla sunt quaerat unde pariatur ex cupiditate iste animi officia, provident recusandae placeat doloremque beatae molestias architecto itaque veritatis sequi labore maiores minus! Voluptates consequuntur maxime similique voluptatem deleniti aperiam laborum sequi iste cum obcaecati dignissimos saepe tempora, facere labore odio velit odit placeat nostrum architecto eaque magni amet ducimus earum officia! Consequatur impedit optio laborum sunt? Numquam doloremque nostrum natus! Voluptatem rerum sint corporis et natus fugiat dolorem ab praesentium! Placeat quis vero, expedita eum delectus incidunt perferendis hic, ex reprehenderit cupiditate sapiente architecto aperiam soluta! Sed nostrum commodi saepe eius dolorum ad hic odio! Magnam accusantium minus ullam a sapiente distinctio. Earum fugit sit suscipit a? Optio libero adipisci assumenda, vel perferendis et laudantium quidem voluptas, quae voluptates molestiae, dolore tempore vero obcaecati accusamus. Fuga quasi animi optio quas dolorem, quibusdam quia eum aliquid rem saepe architecto eveniet fugiat adipisci, expedita odio reiciendis. Officiis omnis ipsa eius quaerat reprehenderit, enim ab quisquam illum iste labore rem sit fugiat reiciendis repellendus deserunt in, beatae incidunt officia. Expedita incidunt possimus fugiat ratione obcaecati ducimus exercitationem facilis excepturi, neque, assumenda esse voluptates! Impedit quaerat blanditiis harum obcaecati facere est iste consectetur excepturi, ut minima recusandae voluptate dignissimos, tenetur voluptatum beatae praesentium quasi quibusdam natus mollitia distinctio eum quia architecto atque! Fugit enim aliquam ut exercitationem accusamus recusandae ex, molestias quasi suscipit non omnis temporibus vel, ipsa explicabo sequi reiciendis, dolores repellendus illo eaque. Recusandae deserunt distinctio sequi numquam delectus aliquam. 
            Perspiciatis explicabo iure voluptatibus soluta placeat amet neque quo, ducimus repellat magni cumque maxime, sunt vel!</P>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur perferendis odit, nobis cum veritatis sint molestias alias distinctio nihil mollitia quod necessitatibus hic pariatur at repellendus maxime, tempore, voluptates placeat.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis architecto laboriosam temporibus corrupti fugiat libero quae cumque nisi, vero eos mollitia, est, natus earum eius unde excepturi velit nemo veritatis. Natus excepturi soluta, vitae pariatur odio ab illum suscipit beatae. Sunt, quas repudiandae! Corporis nihil natus fugit architecto cum quae eum aliquam distinctio cumque quod praesentium cupiditate vitae aut ut nisi consequatur nesciunt omnis illum, voluptates qui quas modi? Odit harum, assumenda dolore dicta quidem ratione, nesciunt possimus natus, itaque error culpa deleniti aspernatur inventore? Ratione similique illum nisi aspernatur nobis ipsa inventore. Quae maiores, ipsa totam dignissimos atque fugiat non quo nisi nemo. Totam illo, similique adipisci blanditiis dolore necessitatibus ipsa mollitia voluptatem. Optio, quisquam corporis suscipit natus nesciunt consectetur atque voluptatum architecto maiores voluptates quod quae id, aspernatur expedita, molestiae fuga tenetur! Natus doloremque fuga nobis cupiditate a, cumque facere sit! Laborum eum ipsa totam deserunt voluptatem doloremque voluptatum ad eos tempore perspiciatis incidunt quae voluptate voluptas atque cumque est praesentium, enim dolorum commodi? Recusandae tempore fuga, animi quae eveniet ullam soluta assumenda eaque asperiores nihil qui! Fugiat libero ut molestias itaque vel magni explicabo distinctio a aliquid, veniam deserunt illo delectus voluptatibus nihil nesciunt tempore consequuntur sunt dicta eveniet doloremque. Animi, deleniti! Dolore optio, dolor doloribus necessitatibus corporis distinctio vero labore ex sit odio cupiditate pariatur atque quos nesciunt alias magnam numquam ratione impedit rem nemo aliquam aliquid dignissimos illo! Omnis, quis saepe. Dolores, distinctio magni facere dolorum commodi atque maxime neque voluptas laboriosam cum ipsam ut officiis, expedita delectus voluptate modi exercitationem harum qui minima pariatur autem. Earum odit iste aperiam, minima ut quisquam tenetur repudiandae. Nihil mollitia, est aliquid praesentium quaerat voluptatem voluptas nemo consectetur
     autem nam quas a eius, alias aliquam laudantium assumenda qui, optio error suscipit nulla tenetur voluptate fugiat libero! Minus, impedit?
            </p>
    <div class="some-class" >
       
      <h1<%% = styles %%>BIENVENIDOS</h1>
        <!--aplicando este estilo css-->
        <style type="text/css">
            body { background-color: white;color: black;}
            h1 {font-weight: bold;text-align: center;}
            header { padding: 60px 20px; color: peru; font-size :50px; text-align:right;
            justify-items: auto;}
             p { margin-bottom :10px;  margin-left: 30px; justify-items: auto;}
             footer {text-decoration: overline; margin-top: 200px}
             div { width:100%; height: 100px; background: rgb(71, 10, 184);;position:static; top:0;left:0;
            border-radius: 50%; text-align: center; font-size: 50px;}
        </style>
      </div>
      <footer>
        
        <h1>&copy;DARIOS todos los derechos 2023 </h1>
      </footer>
</body>
</html>